.footer {
    color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    padding: 6px;
    left: 0;
    bottom: 0;
}

.footer p {
    text-align: center;
}