.places {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    display: block;
    flex-grow: 2;
    width: 100%;
    margin-left: 1em;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF545F;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
    margin: 0 auto;

}